.account-linkage{
  .content{
  background: #fff;
  border: 1px solid #e2e2e2;
  text-align: center;
  height: 1300px;
  margin: 50px auto;
  padding-top: 150px;
  .caption{
    font-size: 36px;
  }
  .icon{
    position: relative;
    left: 2px;
    top: 6px;
  }
  .time{
    font-size: 24px;
    color: #3a3a3a;
  }
}
}

