.teshu {
  color: #ff6600;
  font-size: 36px; }

.junereport {
  background: #2a2d30; }
.junereport .banner img {
  width: 100%; }
.junereport .caption {
  width: 900px;
  margin: 0 auto 80px; }
.junereport .caption .title {
  text-align: center;
  color: #ff6600;
  font-size: 36px;
  margin-top: 30px;
  position: relative; }
.junereport .caption .title .icon {
  width: 12px;
  height: 51px;
  display: inline-block;
  position: absolute;
  left: 248px;
  top: -1px;
  background: url(/html/img/shutiao.png) no-repeat; }
.junereport .caption .title .icon1 {
  left: 211px; }
.junereport .caption .title .icon2 {
  left: 180px; }
.junereport .caption .title .icon3 {
  left: 280px; }
.junereport .caption .title .icon4 {
  left: 350px; }
.junereport .caption .title .icon5 {
  left: 568px; }
.junereport .caption .content {
  margin-top: 50px;
  position: relative; }
.junereport .caption .content img {
  width: 100%;
  text-align: center;
  margin-top: 30px; }
.junereport .caption .content .item {
  width: 376px;
  display: inline-block; }
.junereport .caption .content .item .time {
  font-size: 18px;
  color: #fff; }
.junereport .caption .content .item .img2 {
  width: 500px; }
.junereport .caption .content .item1 {
  width: 505px;
  position: absolute;
  margin-left: 30px; }
.junereport .caption .field {
  font-size: 24px;
  color: #fff;
  margin-top: 30px; }
.junereport .caption .field1 {
  text-align: center; }
.junereport .caption2 {
  width: 1349px;
  height: 700px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 30px; }
.junereport .caption2 .content1 {
  width: 900px;
  margin: 0 auto;
  position: relative; }
.junereport .caption2 .content1 .ltn {
  position: absolute;
  left: 110px;
  top: 0; }
.junereport .caption2 .content1 .code {
  width: 200px;
  position: absolute;
  left: 485px;
  top: 57px; }
.junereport .caption2 .field1 {
  position: absolute;
  left: 215px;
  top: 350px;
  font-size: 32px;
  color: #636363; }
.junereport hr {
  border: 1px silid #e2e2e2; }
